*{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: dimgray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
}
header{
    background-color: coral;
    min-height: 80px;
}
.container{
    line-height: 80px;
    margin-left: 20%;
    margin-right: 30%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.nav-item{
    display: inline-block;
    min-width: 100px;
    width:100%;
    justify-self: stretch;
    text-align: center;
    box-sizing: border-box;
    transition: .2s , opacity 1s;
}

.container label :hover {
     background-color: dimgray;
     color: aliceblue;
 }

.container label :active {
    box-sizing: border-box;
    background-color: #343434;
    color: aliceblue;
}

input:checked+label p{
    box-shadow:inset 0px 0px 28px -4px #272727;
}

input{
    display: none;
}

#content{
    display: none;
}